set from = 'salehibrian@gmail.com'
set imap_user = 'salehibrian@gmail.com'
set smtp_user = 'salehibrian@gmail.com'
set realname = 'Brian Salehi'
set folder = 'imaps://imap.gmail.com:993'
set spoolfile = "+INBOX"
set record = "+[Gmail]/Sent Mail"
set postponed = "+[Gmail]/Drafts"
set mbox = "+[Gmail]/All Mail"
set trash = "+[Gmail]/Trash"
set ssl_force_tls = yes
set ssl_starttls = yes
set ssl_verify_host = yes
set ssl_verify_dates = yes
set smtp_url = 'smtps://smtp.google.com:587'

source 'gpg --decrypt ~/.mutt/google.asc |'
