set realname = 'Brian Salehi'
set from = 'briansalehi@proton.me'
set imap_user = 'briansalehi@proton.me'
set smtp_url = 'smtp://127.0.0.1:1025'
set smtp_user = 'briansalehi@proton.me'
set folder = 'imap://127.0.0.1:1143'
set spoolfile = "+Inbox"
set mbox = "+Inbox"
set record = "+Sent"
set postponed = "+Drafts"
set trash = "+Trash"
set ssl_force_tls = yes
set ssl_starttls = yes
set ssl_verify_host = yes
set ssl_verify_dates = yes

source 'gpg --decrypt ~/.mutt/proton.asc |'

mailboxes +Inbox +Sent +Drafts +Trash +Archive +Technical +Financial
